{
    "cache": false,
    "check-coverage": true,
    "branches": 80,
    "lines": 80,
    "functions": 80,
    "statements": 80,
    "watermarks": {
        "branches": [
            80,
            100
        ],
        "lines": [
            80,
            100
        ],
        "functions": [
            80,
            100
        ],
        "statements": [
            80,
            100
        ]
    },
    "extension": [
        ".ts"
    ],
    "exclude": [
        "coverage/**",
        "webpack.config.js",
        "**/*.d.ts",
        "tests"
    ],
    "sourceMap": true,
    "reporter": [
        "html",
        "text-summary"
    ]
}